# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Node / React
node_modules/
build/
dist/
.env
.DS_Store

# Virtual environments
venv/
.env/
.envrc

# Recordings, models, etc.
backend/recordings/
backend/models/
*.wav
*.mp3

# IDE settings
.vscode/
.idea/
*.log
