fastapi
uvicorn[standard]

pydub
sounddevice
wavio
SpeechRecognition
noisereduce
pydantic
sqlalchemy  
speechrecognition
aiofiles
databases
alembic
passlib[bcrypt] 
python-jose 
fastapi-users


#Database
sqlalchemy[asyncio]
asyncpg
psycopg2-binary

#file handling
python-multipart
python-dotenv

# AI/ML
openai
whisper
openai-whisper
librosa
soundfile
transformers
textblob
sentence-transformers
torch

# PDF generation
reportlab

# Authentication
passlib[bcrypt]  
python-jose[cryptography]  
pydantic[email]  

# Optional: for better performance
orjson

fastapi[all] 
python-dotenv 
aiosmtplib 
email-validator

language_tool_python
